.app-btn{
    position: relative;

    padding:10px 15px;

    background-color: $primary-color;
    color:#fff;
    font-family: $font-bold;
    font-size: 18px;
    text-align: center;

    cursor: pointer;
}

.app-btn--active{
    background-color: $accent-color;
}