.app-select{
    position: relative;

    width: 100%;
    height: auto;

    padding:10px 45px;

    font-size: 18px;

    cursor: pointer;

    background-color: $primary-color;
    color:#fff;
    font-family: $font-bold;
}