#app {
		font-family: $font-light, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size:$mainFontSize ;
		color: #2c3e50;

		padding:25px 35px;

		background-color: $neutral-regular;
	}


	.app{

		&__title{
			font-size: 25px;
			font-family: $font-bold;
			color:$accent-color;
			text-align: center;

		}
	}