.homeview{
    position: relative;

    width: 100%;
    height: auto;

    padding:45px 25px;

    display: grid;
    grid-template: auto / 1fr 3fr;
    grid-gap: 0px 30px;

    min-height: 100vh;

    &__left{
        display: grid;
        grid-template: 45px 45px / .8fr;
        grid-gap: 25px  0px;

        justify-content: center;
    }

    &__right{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__selectwrap{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__chartwrap{
        width: 100%;
        height: auto;
        padding:25px 10px;
    }

}
