<template>
    <div class="homeview">
        
        <div class="homeview__left">

            <div :class="'app-btn'+' '+ (item.active?'app-btn--active':'') "
                 v-for="(item,index) in modes"
                 :key="index"
                 @click="setMode(index)"
                 >{{item.title}}</div>

        </div>

        <chart-interval
            :info="chartData"
            :title="chartTitle"
            />

    </div>
</template>

<script>
    import precipitation from "../data/precipitation.json";
    import temperature from "../data/temperature.json";

    import ChartInterval from '../components/ChartInterval'

    export default {
        components:{
            ChartInterval
        },
        mounted(){
            this.temperature = this.setAverageByYears(temperature)
            this.precipitation = this.setAverageByYears(precipitation)

            this.modes[0].data = this.temperature
            this.modes[1].data = this.precipitation

        },
        computed:{
            chartData(){
                return this.modes.filter((each)=>each.active)[0].data
            },
            chartTitle(){
                return this.modes.filter((each)=>each.active)[0].title
            }
        },
        data(){
            return{
                precipitation:[],
                temperature:[],

                modes:[
                    {
                        title:'Температура',
                        active:true,
                        data:[],
                    },
                    {
                        title:'Осадки',
                        active:false,
                        data:[],
                    },
                ],

                
            }
        },
        methods:{
            setMode(index){
                this.modes.forEach((each,itemIndex)=>{
                    if(itemIndex==index){
                        each.active=true
                    } else{
                        each.active=false
                    }
                })
            },
            toggleMode(index){
                this.modes[index].active = !this.modes[index].active 
            },
            setAverageByYears(data){
                let arr = []

                let indexPoint = this.getYearFromItem(data[0])-1

                let tValues = []

                data.forEach((item)=>{
                    let itemYear = this.getYearFromItem(item);

                    let yearObject = {}

                    if(itemYear===indexPoint){
                        tValues.push(item.v)
                    } else{
                        indexPoint=itemYear;
                        yearObject.year = itemYear

                        tValues = [];
                        tValues.push(item.v)

                        yearObject.value = this.getAverageSum(tValues)
                        
                        arr.push(yearObject)
                    }

                })

                return arr;

            },

            getYearFromItem(item){
                return item.t.split('-')[0]
            },

            getAverageSum(arr){
                return arr.reduce((acc, cur)=>{acc+cur})/arr.length
            }
        }
        
    }
</script>

<style lang="scss" scoped>

</style>