<template>
    <div class="homeview__right">

        <div class="homeview__selectwrap">

            <select class="app-select" name="fromYear" id="" v-model="fromYear">
                <option v-for="(item,index) in fromYears"
                        :key='index'
                        :selected="item===fromYear"
                        :value="item">{{item}}</option>
            </select>

            <select class="app-select" name="toYear" id="" v-model="toYear">
                <option v-for="(item,index) in toYears"
                        :key='index' 
                        :selected="item===toYear"
                        :value="item">{{item}}</option>
            </select>

        </div>

        <div class="homeview__chartwrap">
            <line-chart 
                :chartData="{
                        labels:yearsInterval,
                        datasets:[{
                            label:title,
                            data:valuesInterval
                        }]
                    }"
                :options="{}"
                />
            
        </div>

    </div>
</template>

<script>
    import LineChart from '../components/Line'

    export default {
        name:'chart-interval',
        components:{
            LineChart
        },
        mounted(){
            this.fromYear = '1881'
            this.toYear = '2006'
        },
        computed:{
            yearsInterval(){
                let yearsData = this.info.map((item)=>item.year)

                return yearsData.filter((item)=>{
                    if(item>=this.fromYear&&item<=this.toYear){
                        return true
                    } else{
                        return false
                    }
                })
            },
            valuesInterval(){
                let intervalValues = []

                intervalValues = this.info.filter((item)=>{
                    if(item.year>=this.fromYear&&item.year<=this.toYear){
                        return true
                    } else{
                        return false
                    }
                })

                return intervalValues.map((item)=>item.value);
            },
            
            fromYears(){
                return this.info.filter((item)=>item.year<this.toYear).map((item)=>item.year)
            },
            toYears(){
                return this.info.filter((item)=>item.year > this.fromYear).map((item)=>item.year)
            }
        },
        props:{
            title:{
                type:String,
                required:true,
            },
            info:{
                type:Array,
                required:true
            },
        },
        data(){
            return{
                fromYear:[],
                toYear:[],
            }
        },
        methods:{
        }
    }
</script>

<style lang="scss" scoped>

</style>