<script>
    import { Line,  mixins } from 'vue-chartjs'
    const { reactiveProp } = mixins

    export default {
        name:'line-chart',
        extends: Line,
        mixins: [reactiveProp],
        props: {
            chartData:{
                type:Object,
                required:false
            },
            options:{
                type:Object,
                required:false
            }
        },
        mounted () {
            this.renderChart(this.chartData, this.options)
        }
        
    }
</script>

<style lang="scss" scoped>

</style>