<template>
	<div id="app">
		<h1 class="app__title">Архив изменений средней температуры и уровня осадков за последние 120 лет</h1>
		<router-view></router-view>
	</div>
</template>

<script>

export default {
	name: 'app',
	components: {
	}
}
</script>

<style lang="sass">
	@import "./scss/main.scss"
</style>
